.container {
    margin-top: 150px;
}

.container-fluid {
    margin-top: 80px;
}

.card-link {
    text-decoration: none;
}

.card-link hover {
    text-decoration: underline;
}

.card {
    padding: 0;
    max-width: 18rem;
}

#loginHeader {
    margin-top: 30px;
}

#loginPage {
    text-align: center;
}

#loginDiv{
    margin: 0 auto;
    width: 50%;
}

#logout {
    margin-left: 10px;
}
